<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Style/skin.css" />
</head>
    <body>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!-- 头部开始 -->
            <tr>
                <td width="17" valign="top" background="__PUBLIC__/Images/mail_left_bg.gif">
                    <img src="__PUBLIC__/Images/left_top_right.gif" width="17" height="29" />
                </td>
                <td valign="top" background="__PUBLIC__/Images/content_bg.gif">
                    <table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" background="././Images/content_bg.gif">
                        <tr><td height="31"><div class="title">内容列表</div></td></tr>
                    </table>
                </td>
                <td width="16" valign="top" background="__PUBLIC__/Images/mail_right_bg.gif"><img src="__PUBLIC__/Images/nav_right_bg.gif" width="16" height="29" /></td>
            </tr>
            <!-- 中间部分开始 -->
            <tr>
                <!--第一行左边框-->
                <td valign="middle" background="__PUBLIC__/Images/mail_left_bg.gif">&nbsp;</td>
                <!--第一行中间内容-->
                <td valign="top" bgcolor="#F7F8F9">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <!-- 空白行-->
                        <tr><td colspan="2" valign="top">&nbsp;</td><td>&nbsp;</td><td valign="top">&nbsp;</td></tr>
                        <tr>
                            <td colspan="4">
                                <table>
                                    <tr>
                                        <td width="100" align="center"><img src="__PUBLIC__/Images/mime.gif" /></td>
                                        <td valign="bottom"><h3 style="letter-spacing:1px;">在这里，您可以根据您的需求，填写网站参数！</h3></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- 一条线 -->
                        <tr>
                            <td height="40" colspan="4">
                                <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                                    <tr><td></td></tr>
                                </table>
                            </td>
                        </tr>
                        <!-- 产品列表开始 -->
                        <tr>
                        	<td width="2%">&nbsp;</td>
                        	<td><input onclick="location.href='__CONTROLLER__/add/model_id/<?php echo $_GET['id']; ?>';" type="button" value="添加内容" /></td>
                        </tr>
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td width="96%">
                                <table width="100%">
                                    <tr>
                                        <td colspan="2">
                                            <form action="" method="">
                                                <table width="100%"  class="cont tr_color">
                                                    <tr>
                                                        <th width="50">选中</th>
                                                        <th>id</th>
                                                        <th>标题</th>
                                                        <th>缩略图</th>
                                                        
                                                        <th>操作</th>
                                                    </tr>
                                            
          <?php foreach ($archdata as $m): ?>                                          
                                                    <tr align="center" class="d">
                                                        <td><input type="checkbox" value="<?php echo $m['id']; ?>" /></td>
                                                        <td><?php echo $m['id']; ?></td>
                                                        <td><?php echo $m['title']; ?></td>
                                                        <td><img src="__PUBLIC__/<?php echo $m['itpic'];?>" width="50" height="50"/></td>
                                                        
                                                        <td> <a onclick="return confirm('确定要删除吗？');" href="__URL__/del/id/<?php echo $m['id']; ?>">删除</a></td>
                                                    </tr>
          <?php endforeach; ?>
                                                </table>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="2%">&nbsp;</td>
                        </tr>
                        <!-- 产品列表结束 -->
                        <tr>
                            <td height="40" colspan="4">
                                <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                                    <tr><td></td></tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td width="51%" class="left_txt">
                                <?php echo $showpage; ?>
                            </td>
                            <td>&nbsp;</td><td>&nbsp;</td>
                        </tr>
                    </table>
                </td>
                <td background="__PUBLIC__/Images/mail_right_bg.gif">&nbsp;</td>
            </tr>
            <!-- 底部部分 -->
            <tr>
                <td valign="bottom" background="__PUBLIC__/Images/mail_left_bg.gif">
                    <img src="__PUBLIC__/Images/buttom_left.gif" width="17" height="17" />
                </td>
                <td background="__PUBLIC__/Images/buttom_bgs.gif">
                    <img src="__PUBLIC__/Images/buttom_bgs.gif" width="17" height="17">
                </td>
                <td valign="bottom" background="__PUBLIC__/Images/mail_right_bg.gif">
                    <img src="__PUBLIC__/Images/buttom_right.gif" width="16" height="17" />
                </td>           
            </tr>
        </table>
    </body>
</html>